In [1]:
import pandas as pd

# Read the first CSV file
df1 = pd.read_csv('contacts (6).csv')

# Read the second CSV file
df2 = pd.read_csv('contacts (8).csv')

# Compare the contacts in both files
diff_contacts = pd.concat([df1, df2]).drop_duplicates(keep=False)

# Print the difference in contacts
print(diff_contacts)

        Name Given Name Additional Name Family Name  Yomi Name  \
97   Cliford    Cliford             NaN         NaN        NaN
117    Denil      Denil             NaN         NaN        NaN
160     Hugo       Hugo             NaN         NaN        NaN
187     Josh       Josh             NaN         NaN        NaN

     Given Name Yomi  Additional Name Yomi  Family Name Yomi  Name Prefix  \
97               NaN                   NaN               NaN          NaN
117              NaN                   NaN               NaN          NaN
160              NaN                   NaN               NaN          NaN
187              NaN                   NaN               NaN          NaN

     Name Suffix  ...  Phone 2 - Type  Phone 2 - Value  Organization 1 - Type  \
97           NaN  ...             NaN              NaN                    NaN
117          NaN  ...             NaN              NaN                    NaN
160          NaN  ...             NaN              NaN                    NaN
187          NaN  ...             NaN              NaN                    NaN

     Organization 1 - Name  Organization 1 - Yomi Name  \
97                     NaN                         NaN
117                    NaN                         NaN
160                    NaN                         NaN
187                    NaN                         NaN

     Organization 1 - Title  Organization 1 - Department  \
97                      NaN                          NaN
117                     NaN                          NaN
160                     NaN                          NaN
187                     NaN                          NaN

     Organization 1 - Symbol  Organization 1 - Location  \
97                       NaN                        NaN
117                      NaN                        NaN
160                      NaN                        NaN
187                      NaN                        NaN

     Organization 1 - Job Description
97                                NaN
117                               NaN
160                               NaN
187                               NaN

[4 rows x 42 columns]