In [2]:
import pandas as pd

# function to create a dataframe from a list of lists

In [5]:
def createDataframe(student_data: list[list[int]]) -> pd.DataFrame:
    return pd.DataFrame(student_data, columns=['student_id', 'age'])

In [6]:
x = createDataframe([[1001, 24], [1002, 25], [1003, 22]])
x

   student_id  age
0        1001   24
1        1002   25
2        1003   22

# Output:count of rows and columns in the dataframe

In [7]:
x.shape

(3, 2)